/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .greeting_page{
    display: flex;
    margin: 0 auto;
    width: 800px;
    position: relative;
  }

  .greeting_img {
    width: 350px;
    height: 580px;
    margin-right: 50px;
    margin-top: 40px;
  }

  .greeting_img img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    margin-top: 70px;
  }

  .greeting_form h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 44px;

  }

  .form_and_link{

    width: 400px;
    height: 500px;
    margin-top: 40px;
  }

  .greeting_form{
    border: 1px solid lightgrey;
    margin: 20px;
    height: 531px;
    text-align: center;
    flex-direction: column;
    display: flex;
    background-color: white;
  }

  .another_option_link{
    margin: 20px;
    padding: 30px;
    background-color: white;
    /* height: 9px; */
    border: 1px solid lightgrey;
  }

  .greeting_form form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    /* the next two line is for center the items and list out */
    flex-direction: column;
    display: flex;

  }

  .greeting_form form input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }

  .greeting_form form button{
    padding: 10px;
    margin: 5px;
    background-color: #3897f0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  .greeting_form .by_signup {
    color: #999;
    font-weight: 600;
    margin: 10px 60px;
    text-align: center;
  }

  .greeting_form .signup_purpose {
    color: #999;
    font-size: 17px;
    font-weight: 900;
    margin: 10px 60px;
    text-align: center;
  }

  .another_option_link{
    text-align: center;
  }
  .another_option_link Link{
    text-decoration: none;
  }

  .demo-button{
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #59adfd;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;

  }

  .error-messages{
    width: 100%;
    height: 20px;
    color: red;
  }

  .nav_bar{
    padding: 26px 110px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: white;
  }

  .nav_bar > .logo-and-ig{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
  }

  .logo-and-ig > li{
    padding-left: 10px;
    margin: 5px;
    height: 33px;
  }

  .logo-and-ig > .ig {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    border-left: 1px solid black;
  }

  .logo > img{
    width: 35px;
    height: 35px;
  }

  /* .search-bar{
    margin: 0;
    padding: 0;
    position: relative;
  } */


  .search-bar {
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    padding: 4px 10px 4px 10px;
    width: 200px;
    height: 20px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .search-bar > img {
    width: 12px;
    height: 12px;
    color:inherit;
  }

  .search-bar > input {
    background-color: inherit;
    border: 0;
    width: 500px;
    height: 25px;
  }

.support-icons a{
  display: block;
  cursor: pointer;
}

.support-icons a img {
  height: 22px;
  width: 22px;
}


.support-icons {
  width: 170px;
  display: flex;
  justify-content: space-around;

}
