
.post-top-comment{
  margin-bottom: 60px;
  border: 0.5px solid lightgrey;
  background-color: white;
}

.post-top-comment .post-top{
  width: 605px;
  height: 50px;
}


.post-item-box{
  width: 605px;
  height: 605px;
  /* padding: 50px 0px 50px 0px; */
  border: 0.5px solid lightgrey;
  /* margin-bottom: 60px; */
  /* margin: 1px solid lightgrey; */
  list-style: none;
  display: flex;
}

.side-bar-box{
  width: 280px;
  height: 590px;
  padding: 5px;
  border: 1px solid lightgrey;
  margin-left: 30px;
  background-color: inherit;
  position: relative;
}


.post-item-box img{
  object-fit: cover;
  object-position: 50% 50%;
  animation: 1s rainbow;
  animation-fill-mode: forwards;

}


@keyframes rainbow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.posts-and-sidebar{
  display: flex;
  flex-flow: row nowrap;
  max-width: 935px;
  margin: 0 auto;
  padding-top: 60px;
}

.post-top{
  position:relative;
  display: flex;
  align-items: center;
}


.post-top .post-author-img{
  /* position: absolute; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  margin-left: 25px;
}

.post-top .post-author-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  border-radius: 50% 50%;
}

.post-author-name p {
  padding-left: 20px;
  font-family: 'Ubuntu', sans-serif;

}
.comment{
  padding: 0 16px;
  list-style: none;
}
.comment .likes-count{
  padding: 4px 0px 4px 10px;
  font-weight: bold;
}

.comment-icons{
  width: 170px;
  display: flex;
  margin-top: 4px;
}

.comment-icons a img{
  height: 24px;
  width: 23px;
  padding: 8px;
  cursor: pointer;
}

.comment-icons .comment-flag{
  margin-left: 420px;
}
.comment-content li{
  padding: 4px 0px 4px 10px;
}
.searc_bar{
  position: relative;
}
.hidden{
  display: none;
}
.search_items {
  top: 54px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: auto;
  width: 220px;
  position: absolute;
  background-color: white;
  border-bottom: 0.5px solid lightgrey;
  overflow-y: scroll;
  max-height: 300px;
  z-index:2;
}

.search_items li{
  list-style: none;
  display: flex;
  margin: 3px;
  background-color: white;
  cursor: pointer;
  z-index: 10;
}
.search_items li:not(:last-child){
  border-bottom: 0.5px solid lightgrey;
}


.search_items li img{
  width: 20px;
  height: 20px;
  border: 0.5px solid lightgrey;
  border-radius: 50% 50%;
  margin-right: 5px;

}

.side-bar-box footer{
  position: fixed;
  width: inherit;
  position: absolute;
  bottom: 0;
  border-top: 0.5px solid #DCDCDC;
}

.side-bar-box footer div{
  font-size: 12px;
  padding: 10px 0px 3px 0px;
  opacity: 0.3;
}
.side-bar-box .current-user-top img{
  width: 42px;
  height: 42px;
  border: 0.5px solid lightgrey;
  border-radius: 50% 50%;
  margin: 0px 15px 7px 10px;
  cursor: pointer;
}
.side-bar-box .current-user-top{
  display: flex;
  align-items: center;
}

.side-bar-box .current-user-top span{
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}

.stories-and-watch-all {
  display: flex;
  justify-content: space-between;
  padding: 13px 7px 10px 7px;
  border-top: 1px solid #DCDCDC;
}

.stories-and-watch-all span {
  opacity: 0.5;
}

.friends-stories{
  height: 432px;
  overflow: scroll;
  /* border: 1px solid lightgrey; */
}

.friends-stories li{
  cursor: pointer;
}

.comment-content ul{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment-content ul button{
  padding: 3px;
  font-size: 14px;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
}

.comment-dropdown{
  margin-left:10px;
}
