.user-homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-homepage-title{
  width: 850px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid lightgrey; */
}
.user-homepage-title .settings{
  display: flex;
  flex-direction: column;
  width: 435px;
  height: 138px;
  /* border: 1px solid lightgrey; */
  margin-left: 80px;
}
.user-homepage-title .photo{
  width: 150px;
  height: 150px;
  border: 1px solid lightgrey;
  border-radius: 50% 50%;
  margin-left: 50px
}
.user-homepage-title .photo img{
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.setting-button img{
  width: 25px;
  height: 25px;
  margin-left: 29px;
  cursor: pointer;
}

.follow-status{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.status{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 17px;
  margin-top: 15px;
}

.status li{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif
}

.follow-status span{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 16px;
}

.follow-status button{
  margin-left: 29px;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.user-bio li{
  list-style: none;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  opacity: 0.7;
}

.post-feed{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  /* border: 1px solid lightgrey; */
  width: 936px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.post-feed li{
  width: 290px;
  height: 290px;
  list-style: none;
  /* border: 1px solid lightgrey; */
  display: flex;
  margin: 10px;
}

.post-feed li img{
  /* position: absolute; */
  object-fit: cover;
  object-position: 50% 50%;
}

body{
    background-color: #FFFAFA;
}

.feed-post-container img {
  cursor: pointer;
  width:100%;
}

.feed-post-container span{
    color:#fff;
    position:absolute;
    width:auto; height:auto;
    width: 290px;
    height: 290px;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all0.5s;
    text-align: center;
    font-size: 30px;
    line-height: 280px;
      cursor: pointer;
}

.feed-post-container span:hover {
    opacity:1;
}

.follow_button_open{
  vertical-align: middle;
}

.follow_button_open span{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 16px;
}

.follow_button_open .button{
  width: 150px;
  text-align: center;
  margin-left: 29px;
  padding: 7px 9px 7px 9px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}


.blue-button{
  background-color: #3797f0;
  color: white;
}
.updating{
  background-color: lightgrey
}
